<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us | oceanwavetransport</title>
  <link rel="stylesheet" href="/about.css"> <!-- Link to your about.css file -->
  <!-- Include Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <header><%- include('./partials/header'); %></header>

 
  <div class="first-section">
    <div class="background-image" style="background-image: url('/images/about-background1.jpg');">
      <div class="overlay"></div>
      <h2>Oceanwave Transport</h2>
      <p>Oceanwave Transport is a leading logistics and transportation company dedicated to providing reliable and efficient services to connect businesses worldwide. With a commitment to excellence, we offer a wide range of logistics solutions tailored to meet the unique needs of our clients.</p>
      
      <!-- <ul class="btn-container">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul> -->
    </div>
  </div>

  <!-- Second Section -->
  <div class="second-section">
    <div class="second-section-container">
      <div class="image-container">
        <img src="images/about-plane.jpg" alt="Photo">
      </div>
      <div class="content-container">
        <h2>About Us</h2>
        <p>Continually leverage existing efficient relationships vis-a-vis user-centric technology. We take pride in being regarded as one of the most reliable and affordable logistic and warehousing service providers in the country. As a third party logistic service provider, we excel at a range of logistic services, which includes trucking services, warehousing services, logistic services, and a range of other ancillary services. We have years of experience in the business of logistics, warehousing, distribution, trucking and supply chain management services, and aim to provide our clients with convenience, reliability and affordability through our premium logistic services.</p>
        <p>Globally promote revolutionary innovation with client-centric synergy. Competently supply leveraged infomediaries rather than enterprise total linkage. Proactively synergize out-of-the-box processes whereas tactical collaboration and idea-sharing. Interactively redefine B2C infomediaries whereas functional markets. Assertively innovate web-enabled web services with reliable partnerships.</p>
      </div>
    </div>
  </div>
  
  <!-- Third Section -->
  <div class="third-section">
    <div class="mission-container">
      <h2>OUR GLOBAL MISSION</h2>
      <div class="mission-details">
        <p>Dynamically embrace accurate scenarios with quality ROI. Credibly predominate extensive intellectual capital whereas visionary data. Quickly facilitate flexible scenarios with team building resources. Continually leverage existing efficient relationships vis-a-vis user-centric technology. Seamlessly implement multidisciplinary human capital through 24/7 methodologies.</p>
      </div>
    </div>
  
    <div class="growth-container">
      <h2>WE ARE GROWING FASTER</h2>
      <div class="growth-details">
        <p>Objectively brand client-centric processes with professional results. Credibly orchestrate virtual resources and dynamic expertise. Interactively maintain leveraged users with empowered scenarios. Dynamically procrastinate best-of-breed quality vectors without bleeding-edge growth strategies. Continually restore goal-oriented growth strategies.</p>
      </div>
    </div>
  </div>

 <!-- Fourth Section -->
  <div class="fourth-section">
    <!-- Image Container -->
    <div class="technology-image">
      <img src="images/about-image2.jpg" alt="Technology and Engineering">
    </div>
  
    <!-- Details Container -->
    <div class="technology-details">
      <h2>Technology and Engineering</h2>
      <p>Credibly orchestrate virtual resources and dynamic expertise. Interactively maintain leveraged users. Competently deliver e-business users via economically sound supply chains. Assertively reconceptualize error-free e-markets whereas focused schemas. Phosfluorescently embrace process-centric niche markets before orthogonal platforms.</p>
      <p>We have years of experience in the business of logistics, warehousing, distribution, trucking and supply chain management services, and aim to provide our clients with convenience, reliability and affordability through our premium logistic services.</p>
    </div>
  </div>
  
<!-- Fifth Section -->
<div class="fifth-section">
    <div class="team-container">
      <!-- CEO 1 -->
      <div class="ceo">
        <img src="images/ceo-1.jpg" alt="CEO 1">
        <p>Founder & CEO</p>
      </div>
      

      <div class="ceo">
        <img src="images/about-image8.jpg" alt="CEO 4">
        <p>Customer Relations</p>
      </div>
      
        <!-- CEO 5 -->
        <div class="ceo">
            <img src="images/about-image6.jpg" alt="CEO 5">
            <p>Operations Head</p>
          </div>
          
      <!-- CEO 2 -->
      <div class="ceo">
        <img src="images/ceo-2.jpg" alt="CEO 2">
        <p>CTO</p>
      </div>
      
      <!-- CEO 3 -->
      <div class="ceo">
        <img src="images/about-image5.jpg" alt="CEO 3">
        <p>Delivery Manager</p>
      </div>
      
      <!-- CEO 4 -->
      
    
      <!-- CEO 6 -->
      <div class="ceo">
        <img src="images/ceo-3.jpg" alt="CEO 6">
        <p>Public Relations Officer</p>
      </div>
    </div>
  </div>
  

 <!-- Sixth Section -->
<div class="sixth-section">
    <img src="/images/logoconnect.png" alt="Long Image">
  </div>

  <footer><%- include('./partials/footer'); %></footer>

</body>
</html>
